html,body { height: 100%; }

body{
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	background-image:url(sky.jpg);
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
}

form{
	padding-top: 10px;
	font-size: 14px;
	margin-top: 30px;
}

.card-title{ font-weight:3000; }

.container3{
    padding: 20px;
    
}
.btn{
	font-size: 14px;
	margin-top:30px;
}

.login-form{ 
	width:420px;
	margin:20px;
    background-color: rgba(244, 244, 236, 0.693);
}

.sign-up{
	text-align:center;
    margin-top: 2px;;
	padding:20px 20px 0;
}

span{
	font-size:14px;
}