/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f5f7fa;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.light {
  background-color: #f5f7fa;
  color: #000;
}

body.dark {
  background-color: #010636;
  color: #c1c0c0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
